/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

header {
  width: 428px;
  height: 148px;
  flex-shrink: 0;
  background: #D7A1FD;
}

nav {
  color: #FFF;
  font-family: Noto Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px; /* 122.222% */
  text-transform: uppercase;
  width: 428px;
  height: 62px;
  flex-shrink: 0;
  background: #000;
}

main {
  width: 428px;
  height: 1016px;
  flex-shrink: 0;
  background: #F4EDE8;
}

h1 {
  color: #313131;
  font-family: Nunito Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 100% */
  text-transform: uppercase;
}

h2 {
  color: #FFF;
  text-align: center;
  font-family: Noto Serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 120% */
  text-transform: uppercase;
}

h3 {
  color: #000;
  text-align: center;
  font-family: Noto Serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px; /* 100% */
  text-transform: uppercase;
}

h4 {
  color: #000;
  text-align: center;
  font-family: Noto Serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 15px; /* 100% */
}

h5 {
  color: #000;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 36px; /* 120% */
  text-transform: uppercase;
}

h6 {
  color: #D7A1FD;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 15px;
  font-style: italic;
  font-weight: 800;
  line-height: 15px; /* 100% */
  text-transform: uppercase;
  width: 234px;
  height: 55px;
  flex-shrink: 0;
  background: #000;

}

p {
  color: #000;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  line-height: 28px; /* 93.333% */
  letter-spacing: -1.5px;
  text-transform: uppercase;
  width: 428px;
  height: 187px;
  flex-shrink: 0;
  background: #98FB00;
}

.GUARDIAN {
  color: #000;
  text-align: center;
  font-family: Noto Serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 15px; /* 100% */
  text-transform: uppercase;
  width: 388px;
  height: 187px;
  flex-shrink: 0;
  background: #98FB00;
}

h7 {
  color: #000;
  font-family: Noto Serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
}

strong {
color: #000;
font-family: Nunito Sans;
font-size: 15px;
font-style: italic;
font-weight: 800;
line-height: 22px; /* 146.667% */
text-transform: uppercase;
}

h8 {
  color: #000;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 100% */
  letter-spacing: -2.5px;
  text-transform: uppercase;
  width: 428px;
  height: 90px;
  flex-shrink: 0;
  background: #D7A1FD;
}

li {
color: #000;
font-family: Nunito Sans;
font-size: 20px;
font-style: italic;
font-weight: 800;
line-height: 24px; /* 120% */
letter-spacing: -1px;
text-transform: uppercase;
background: #98FB00;
width: 428px;
height: 64px;
flex-shrink: 0;
}

h9 {
  color: #FFF;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px; /* 122.222% */
  text-transform: uppercase;
}

h10 {
  color: #FFF;
  text-align: center;
  font-family: Noto Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px; /* 122.222% */
}

a {
  color: inherit;
}

footer {
  background: #000;
  width: 428px;
  height: 238px;
  flex-shrink: 0;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
  width: 388px;
  height: 259px;
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
