/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.conteneur-image {
  position: relative;
  display: inline-block;
  width: 100%;
}

.bande-de-couleur {
  width: 388px;
  height: 7px;
  flex-shrink: 0;
  background: #D7A1FD;
}

.mot-a-modifier {
  color: #000;
  font-family: Noto Serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px;
  text-transform: uppercase;
}

.cadre-simple {
  border: 1px solid #000;
  width: 388px;
}

.PROGRAMME {
padding-left: 100px;
}

.milieu {
  display: flex;
  padding: 20px;
}

header {
  width: 428px;
  height: 148px;
  flex-shrink: 0;
  background: #D7A1FD;
  text-align: center;
}

nav {
  color: #FFF;
  font-family: Noto Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px; /* 122.222% */
  text-transform: uppercase;
  width: 428px;
  height: 62px;
  flex-shrink: 0;
  background: #000;
  text-align: center;
}

a {
  text-decoration: none;
}

main {
  width: 428px;
  height: 1100px;
  flex-shrink: 0;
  background: #F4EDE8;
  align-content: center;
  justify-content: center;
}

.main/img {
  padding-left: 34px;
  justify-content: center;
}

h1 {
  color: #313131;
  display: flex;
  font-family: Nunito Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 100% */
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  justify-content: center;
}

h2 {
  color: #FFF;
  display: flex;
  text-align: center;
  font-family: Noto Serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 120% */
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h3 {
  color: #000;
  display: flex;
  text-align: center;
  font-family: Noto Serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px; /* 100% */
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
  padding: 30px;
}

h4 {
  color: #000;
  text-align: center;
  font-family: Noto Serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 15px; /* 100% */
  text-align: center;
}

h5 {
  color: #000;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 36px; /* 120% */
  text-transform: uppercase;
  text-align: center;
}

h6 {
  color: #D7A1FD; 
  display: flex;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 15px;
  font-style: italic;
  font-weight: 800;
  line-height: 15px; /* 100% */
  text-transform: uppercase;
  width: 234px;
  height: 55px;
  flex-shrink: 0;
  background: #000;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-items: center;
  align-content: center;
}

p {
  color: #000;
  display: flex;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  line-height: 28px; /* 93.333% */
  letter-spacing: -1.5px;
  text-transform: uppercase;
  width: 428px;
  height: 150px;
  flex-shrink: 0;
  background: #98FB00;
  text-align: center;
  align-items: center;
  justify-content: center;

}

.GUARDIAN {
  color: #000;
  display: flex;
  text-align: center;
  font-family: Noto Serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 15px; /* 100% */
  text-transform: uppercase;
  width: 428px;
  height: 50px;
  flex-shrink: 0;
  background: #98FB00;
  text-align: center;
  align-items: center;
  justify-content: center;
}

h7 {
  color: #000;
  font-family: Noto Serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
}

strong {
color: #000;
font-family: Nunito Sans;
font-size: 15px;
font-style: italic;
font-weight: 800;
line-height: 22px; /* 146.667% */
text-transform: uppercase;
}

h8 {
  color: #000;
  display: flex;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 100% */
  letter-spacing: -2.5px;
  text-transform: uppercase;
  width: 430px;
  height: 90px;
  flex-shrink: 0;
  background: #D7A1FD;
  text-align: center;
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

li {
color: #000;
display: flex;
font-family: Nunito Sans;
font-size: 20px;
font-style: italic;
font-weight: 800;
line-height: 24px; /* 120% */
letter-spacing: -1px;
text-transform: uppercase;
background: #98FB00;
width: 428px;
height: 64px;
flex-shrink: 0;
text-align: left;
align-items: center;
}

h9 {
  color: #FFF;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 22px; /* 122.222% */
  text-transform: uppercase;
  text-align: center;
}

h10 {
  color: #FFF;
  text-align: center;
  font-family: Noto Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px; /* 122.222% */
  text-align: center;
}

a {
  color: inherit;
}

footer {
  background: #000;
  width: 428px;
  height: 238px;
  flex-shrink: 0;
  text-align: center;
}

.conteneur-avec-fond {
  background-color: #ffffff;
  padding: 20px; 
  width: 90%;
  border-radius: 20px; 
}

.conteneur-avec-fond p {
  margin: 0px;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  display: flex;
  vertical-align: text-top;
  width: ;
  height: 259px;
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image-arrondie {
  border-radius: 20px; 
}
